[submodule "docs/theme/ace-documentation"]
	path = docs/theme/ace-documentation
	url = https://github.com/vantagedesign/ace-documentation.git
[submodule "themes/ace-documentation"]
	path = themes/ace-documentation
	url = https://github.com/vantagedesign/ace-documentation.git
[submodule "docs/themes/ace-documentation"]
	path = docs/themes/ace-documentation
	url = https://github.com/vantagedesign/ace-documentation.git
[submodule "docs/themes/ananke"]
	path = docs/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "docs/themes/hugo-clarity"]
	path = docs/themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
